.graphic{
    max-width: 100%;
    height: auto; 
}

.chart {
    height: 450px; 
}
 


/* ===============Responsive==================*/
@media (min-width: 1024px){
    .chart {
        height: 500px; 
    }
}

@media (max-width: 720px){
    .chart {
        height: 250px; 
    }
}


@media (max-width: 450px){
    .chart {
        height: 180px; 
    }
}
/* ===============End Responsive==================*/