

.messages{
    width: 764px;
    height: 421px;
    background-color:#fff;
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space:nowrap;
    
}


.messages > .message-item{
    height: 200px;
    width: 100%;
    background-color: black;
    margin-top: 5px;
}